.page-template-page-conditions
  #header-main
    background-color: $brown-shade-1
    .header-wrapper
      background-color: $brown-shade-1
      color: $brown-shade-4
      .btn-header--booking
        background-color: $brown-shade-4
        color: $brown-shade-1
      .wpml-ls-statics-shortcode_actions
        ul
          .wpml-ls-first-item
            border-left: 2px solid $brown-shade-4
            padding-left: 10px
            .wpml-ls-native
              color: $brown-shade-4
    .menu-toggle
      .menu-toggle__text
        color: $brown-shade-4
      .menu-toggle__bars
        .bar
          background-color: $brown-shade-4
    .navbar
      .menu-app
        border-top: 0.5px solid $brown-shade-4
        border-bottom: 0.5px solid $brown-shade-4
        .main-menu-container
          #main-menu
            .menu-item
              a
                color: $brown-shade-4
            .current-menu-item
              a
                color: $brown-shade-3

  .page-header
    background-color: $brown-shade-1
    color: $brown-shade-4