.page-template-page-perfect-for
  .section-perfect-for-content
    .card-perfect-for
      &:nth-child(1)
        background-color: transparent
        border: 1px solid black
        @apply mx-6 lg:mx-14
      &:nth-child(2)
        background-color: $brown-shade-1
        border: 1px solid black
        @apply mx-6
      &:nth-child(3)
        background-color: transparent
        border: 1px solid black
        @apply mx-6 lg:mx-14

@media (max-width: 1023px)
  .page-template-page-perfect-for
    .section-perfect-for-content
