.page-template-page-solothurn
  .section-solothurn-content
    .card-solothurn
      position: relative
      background-color: transparent
      &:after
        content: ''
        position: absolute
        top: 10px
        left: 10px
        right: 10px
        bottom: 10px
        border: 1px solid $brown-shade-3
        z-index: 1
        pointer-events: none
        margin-left: 1.6rem
        margin-right: 1.6rem
