.page-template-page-perfect-for
  .section-perfect-for-content
    background: linear-gradient(180deg, $blue-shade-5 0%, $blue-shade-5 5%, $blue-shade-2 5%)
    .card-perfect-for
      &:nth-child(1)
        background-color: $blue-shade-3
      &:nth-child(2)
        background-color: $green-shade-1
      &:nth-child(3)
        background-color: $purple-shade-1

@media (max-width: 1023px)
  .page-template-page-perfect-for
    .section-perfect-for-content
      background: $blue-shade-3