.page-template-page-perfect-for
  .section-perfect-for-content
    .card-perfect-for
      position: relative
      background-color: transparent
      &:after
        content: ''
        position: absolute
        top: 10px
        left: 10px
        right: 10px
        bottom: 10px
        border: 1px solid $brown-shade-3
        z-index: 1
        pointer-events: none

@media (max-width: 1023px)
.page-template-page-perfect-for
  .section-perfect-for-content
    .card-perfect-for
      margin: 2rem
