.wave-separator
    height: 100px
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 321"><path d="M1229.5 30.5c-171.3 0-169-30.5-310.8-30.5S775.5 30.3 609.9 30.5C440.7 30.3 442.4 0 301.2 0S161.7 29.4 0 30.5V321h1440V7.1c-57 9-92.6 23.5-210.5 23.5Z" style="fill:%23f2faff"/></svg>') repeat-x #0E324A
    background-size: 100% auto
    background-position: center 30px
    overflow: hidden

    &__inverted
        height: 100px
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 321"><path d="M1229.5 30.5c-171.3 0-169-30.5-310.8-30.5S775.5 30.3 609.9 30.5C440.7 30.3 442.4 0 301.2 0S161.7 29.4 0 30.5V321h1440V7.1c-57 9-92.6 23.5-210.5 23.5Z" style="fill:%23f2faff"/></svg>') repeat-x #0E324A
        background-size: 100% auto
        background-position: center 30px
        transform: rotate(180deg)
        overflow: hidden

        &--light
            height: 100px
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 321"><path d="M1229.5 30.5c-171.3 0-169-30.5-310.8-30.5S775.5 30.3 609.9 30.5C440.7 30.3 442.4 0 301.2 0S161.7 29.4 0 30.5V321h1440V7.1c-57 9-92.6 23.5-210.5 23.5Z" style="fill:%230E324A"/></svg>') repeat-x #D2E8F7
            background-size: 100% auto
            background-position: center 30px
            transform: rotate(180deg)
            overflow: hidden